# core requirements
twython==3.4.0
editdistance==0.3.1
nltk==3.2.1
pandas==0.18.1
pandas-profiling==1.0.0a2
gensim==0.12.4
pug-nlp==0.1.7a
future==0.15.2
ipython[all]==4.2.0

# pandas comes with
# scipy==0.16.1
# numpy==1.10.1

# for plotting, but requires binary package installation for some OSes 
#$ sudo apt-get install libpng12-dev libfreetype6-dev tk-dev python-tk python3-tk
#$ sudo pip install --no-cache-dir --no-binary :all: --upgrade -r requirements.txt
#$ nano 
matplotlib==1.5.1

#$ sed s/\:\ agg/tkagg/g '/home/hobs/.virtualenvs/twip/lib/python3.4/site-packages/matplotlib/mpl-data/matplotlibrc'
# these come with matplotlib
# pytz==2016.4
# python-dateutil==2.5.3

seaborn==0.7.0
# comes with seaborn
# scipy==0.17.0

# # for a webapp
# django==1.9
# django-extensions==1.5.9

